*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(img/light\ bg.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}